{% extends 'base_rec.html' %}
{% block content %}
<form action="/add_notes" method="POST" class="d-flex justify-content-between mb-4 mt-4">
    {% csrf_token %}
    <div class="col-4 shadow-lg p-3 mb-5 bg-body rounded mt-2 p-2">
        <p><h1>{{recipe.rec_name}}</h1></p>
        <p>{{recipe.category.name}} {{recipe.prep_time}}</p> 
        <ul>
            {% for i in ing_list %}
                <li>{{i}}</li>
            {% endfor %}
        </ul>
        {{recipe.procedure}}
        <br>
        <br>
        <a href="/edit/{{recipe.id}}" class="btn btn-dark">Edit</a>
    </div>
    <div class="col-3 shadow-lg p-3 mb-5 bg-body rounded mt-2 p-2">
        <p><h1>Notes</h1></p> <textarea name="notes" id="" cols="25" rows="10"></textarea>
        <button class="btn btn-dark mb-1">Submit</button>
    </div>
    <div class="col-4 shadow-lg p-3 mb-5 bg-body rounded mt-2 p-2">
        {% if img_obj %}
        <!-- <h3>Succesfully uploaded : {{img_obj.title}}</h3> -->
        <img class="figure-image image-fluid" src="{{img_obj.image.url}}" alt="connect" style="max-height:300px">
        {% endif %}
    </div>
</form>
{% endblock %}