<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Chef Swap</title>
        <meta name="description" content="Join groups of other chefs to collaborate on your 
        recipes, find inspiration, as well as show off your skills, and your knife roll">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body class="bg-light">
        <div class="container shadow-lg p-3 mb-5 bg-body rounded mt-5">
            <div class="container p-3">
                <div class="swap_head d-flex align-bottom">
                    <span class="align-bottom"><h1>Chef Swap</h1>  <h3>Collaborate on recipes and find inspiration.</h3></span>
                </div>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark m-b4 rounded">
                    <div class="container-fluid">
                        <a class="col-2 navbar-brand text-success" href="#">All Chefs' Recipes</a>
                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/my_recipes">My Recipes</a>                            </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/my_suggs">Suggestions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/favRecipes">Favorite Recipes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/all_rec">All Recipes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/new_rec">New Recipe</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/dash">Home</a>
                                </li>
                            </ul>
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </nav>
                <div class="d-flex justify-content-between mt-4">
                    {% for cat in cats %}
                        <div class="btn-group">
                            <button class="btn btn-secondary" type="button">
                            {{cat.name}}
                            </button>
                            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                    {% for l in recipes.all %}
                                        {% if cat.name == l.category.name %}
                                            <li><a class="dropdown-item" href="/recipe/{{l.id}}">{{l.rec_name}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
                <div class="d-flex justify-content-between mt-3 mb-3" >
                    <div class="col-6" > 
                        <table class="table table-light table-striped mt-4 shadow p-3 mb-5 bg-body rounded">
                            <thead>
                                <th>Category</th>
                                <th>Recipe Name</th>
                                <th>Chef</th>
                            </thead>
                            <tbody>
                                {% for recipe in recipes %}
                                <tr>
                                    <td>{{recipe.category.name}}</td>
                                    <td><a href="/recipe/{{recipe.id}}" class="text-decoration-none text-success">{{recipe.rec_name}}</a></td>
                                    <td>{{recipe.creator.first_name}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="carouselExampleDark" class="carousel carousel-dark slide col-6 p-2" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for pic in food_rand_imgs %}
                                {% if forloop.first %}
                                    <div class="carousel-item active" data-bs-interval="10000">
                                        <img src="{{pic.image.url}}" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>{{pic.title}}</h5>
                                            <p></p>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="carousel-item" data-bs-interval="10000">
                                        <img src="{{pic.image.url}}" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>{{pic.title}}</h5>
                                            <p></p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <footer class="footer mt-auto py-3 bg-dark mb-2 mt-4 rounded">
                    <div class="container">
                        <span class="text-muted"></span>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html> 