{% extends 'base_profile.html' %}
{% block content %}

<div class="container d-flex justify-content-around mt-2">
    <div class="col-4 border border-dark rounded p-4 bg-light">
        <form action="/create_group" method="POST"><h3>Create new group</h3>
            {% csrf_token %}
            <label for="group_name" class="form-label" >Group Name</label>
            <input type="text" name="group_name" class="form-control">
            <label for="desc" class="form-label" >Description</label>
            <input type="text" name="desc" class="form-control">
            <label for="admin" class="form-label" >Admin</label>
            <input type="text" name="admin" placeholder="example@gmail.com" class="form-control">
            An admin is someone other than that group creator that will have group control access. Admin is not required. 
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" type="checkbox" name="true_switch" checked>
                <label class="form-check-label" for="true_switch">Active Group</label>
            </div>
                <p class="mt-2">Active groups will appear in searches, Inactive groups will not appear in searches and will not accept new members.</p>
            <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
    </div>
    <div class="col-3 border border-dark rounded p-4 bg-light">
        <ul><h3>My Groups</h3>
            {% for group in groups %}
            <li>{{group.name}} | {{group.desc}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-4 border border-dark rounded p-4 bg-light">
        <h3>Join Requests:</h3>
            {% for invite in join_reqs %}
        <div class="card mt-4 mb-4 me-2 shadow-lg rounded" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{invite.sender.first_name}} {{invite.sender.last_name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{invite.for_group.name}}</h6>
                <p class="card-text text-truncate" >{{invite.msg_txt}}</p>
                <a href="/accept_member/{{invite.id}}" class="card-link">Accept</a>
                <a href="/reject_member/{{invite.id}}" class="card-link">Reject</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
accept group invite
send group invite

view group memebers

anyone can send invite of group theyre a member of, creator can cull group

{% endblock %}