{% extends 'base_rec.html' %}
{% block content %}
<div>
    <table class="table table-dark table-striped mt-4 p-3 border border-light border-2 bg-body rounded">
        <thead>
            <th>Category</th>
            <th>Recipe Name</th>
            <th>Collaborator</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for recipe in my_recs %}
                {% if recipe.links %}
                    <tr>
                        <td>{{recipe.category.name}}</td>
                        <td>{{recipe.rec_name}}</a></td>
                        <td>Chef {{recipe.links.helper.first_name}}</td>
                        <td><a href="/sugg_for_me/{{recipe.id}}" class="text-decoration-none text-success">view suggestion</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}