{% extends 'base_rec.html' %}
{% block content %}

<div class="container">
    <form action="/create_new" method="POST" class="mt-4 mb-2 d-flex justify-content-between">
        {% csrf_token %}
        <div class="col-5 mt-3 p-3 mb-5">
            <label for="rec_name" class="form-label fw-bold text-dark"><h3>Recipe Name</h3></label>
            <input type="text" name="rec_name" class="form-control" value="{{recipe.rec_name}}">
            <label class="form-label fw-bold text-dark mt-3" for="category"><h3>Category</h3></label>
            <select class="form-select" name="category">
                {% for cat in cats %}
                    <option value="{{cat.name}}">{{cat.name}}</option>
                {% endfor %}
            </select>
            <label class="form-label fw-bold text-dark mt-3" for="group_rec"><h3>Group</h3></label>
            <select class="form-select" name="group_rec">
                <option value="All Recipes">All Recipes</option>
            {% for group in groups %}
                <option value="{{group.name}}">{{group.name}}</option>
            {% endfor %}
            </select>
            <label for="prep_time" class="form-label fw-bold text-dark mt-3"><h3>Prep Time</h3></label>
            <input type="text" name="prep_time" class="form-control" value="{{recipe.prep_time}}">
            <label for="procedure" class="form-label fw-bold text-dark mt-3"><h3>Procedure</h3></label>
            <textarea name="procedure" class="form-control" id="" cols="30" rows="5">{{recipe.procedure}}</textarea>
            <label for="ingredients" class="form-label fw-bold text-dark mt-3"><h3>Ingredients</h3></label>
            <textarea name="ingredients" class="form-control" id="" cols="30" rows="5">{{recipe.ingredients}}</textarea>
        </div>
        <div class="col-5 mt-3 p-3 mb-5">
            <h3 class="fw-bold text-dark">Notes</h3></p> <textarea name="notes" class="form-control" id="" cols="50" rows="26" placeholder=
            "Let others know if and how they can help you improve this recipe, we're all here to help! 
            
Or write your life's story about how you came to possess this magical recipe; you majestic, eternal, and benevolent culinary god of fortune. "></textarea>
            <button class="mt-4 btn btn-dark border border-2 border-dark" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
