{% extends 'base_profile.html' %}
{% block content %}
{% load static %}
    <div class=" container d-flex justify-content-around p-5 ">
        <div style="height: 870px;" class="overflow-scroll col-7">
            {% for post in posts %}
            <div class="card border border-secondary border-1 mb-4 overflow-auto" style="width: 33rem; height:550px;">
                <img src="{{post.post_image.image.url}}" class="p-3 card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{post.post_title}}</h5>
                    <p class="card-text">{{post.content}} </p>
                    <a href="#" class="btn btn-primary">Comment</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class=" col-4">
            <div class="d-flex justify-content-end mb-5">
                <div></div>
                <img src="{{prof_pic.image.url}}" class="img-thumbnail col-3" alt="">
            </div>
            <div class="d-grid gap-2 mx-auto">
                <button class="btn btn-secondary" type="button"><a href="/add_post" class="text-decoration-none text-dark">New Post</a></button>
            </div>
            <div style="height: 655px;" class="d-grid gap-2 mx-auto mt-5 border border-secondary border-1 rounded bg-light p-2">
                
                <ul><h3>Group Members:</h3>
                    {% for member in member_list %}
                        <li>{{member.first_name}} {{member.last_name}}</li>
                    {% endfor %}
                </ul>   
            </div>
        </div>
    </div>


{% endblock %}