{% extends 'base_profile.html' %}
{% block content %}
{% load static %}
<div class="d-flex justify-content-around mb-3 mt-3">
    <div style="height: 1100px;" class="overflow-scroll col-6">
        {% for post in posts %}
        <div class="card border border-secondary border-1 mb-4">
            <img src="{{post.post_image.image.url}}" class="p-3 card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{post.post_title}}</h5>
                <p class="card-text">{{post.content}} </p>
                <a href="/destroy_post/{{post.pk}}" class="btn btn-primary">delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-3">
        <div class="mb-5">
            <img src="{{prof_pic.image.url}}" class="img-thumbnail col-5 rounded" alt="">
        </div>
        <div class="">
            <a href="/add_post" class="text-decoration-none"><button style="width: 100%" class="btn btn-secondary" type="button">New Post</button></a>
        </div>
        <div style="height: 360px;" class=" mt-3 border border-secondary border-1 rounded bg-light p-2">
            <ul><h3 class="fw-bold">Group Members:</h3>
                {% for member in member_list %}
                    <a href="/other_prof/{{member.id}}" class="text-decoration-none text-dark"><li class="fs-5">{{member.first_name}} {{member.last_name}}</li></a>
                {% endfor %}
            </ul>   
        </div>
        <div style="height: 360px;" class=" mt-5 border border-secondary border-1 rounded bg-light p-2">
            <ul><h3 class="fw-bold">Groups:</h3>
                {% for group in groups %}
                    <a href="/view_group/{{group.id}}" class="text-decoration-none text-dark"><li class="fs-5">{{group.name}}</li></a>
                {% endfor %}
            </ul>   
        </div>
    </div>
</div>
{% endblock %}