{% extends 'base_rec.html' %}
{% block content %}
                <div class="container d-flex justify-content-around mb-2">
                    <div class="col-4 shadow-lg p-3 mb-5 bg-body rounded mt-4">
                        <p><h1>{{recipe.rec_name}}</h1></p>
                        <p>{{recipe.category.name}} {{recipe.prep_time}}</p> 
                        <ul>
                            {% for i in ing_list %}
                                <li>{{i}}</li>
                            {% endfor %}
                        </ul>
                        {{recipe.procedure}}
                        <br>
                        <br>
                    </div>
                    <div class="col-4 shadow-lg p-3 mb-5 bg-body rounded mt-4">
                        <form action="/create_sugg/{{recipe.id}}" method="POST">
                            {% csrf_token %}
                            <label for="rec_name" class="form-label">Recipe name</label>
                            <input type="text" name="rec_name" class="form-control" value="{{recipe.rec_name}}">
                            <label for="category" class="form-label">Category</label>
                            <input type="text" name="category" class="form-control" value="{{recipe.category.name}}">
                            <label for="prep_time" class="form-label">Prep Time</label>
                            <input type="text" name="prep_time" class="form-control" value="{{recipe.prep_time}}">
                            <label for="procedure" class="form-label">Procedure</label>
                            <textarea name="procedure" class="form-control" id="" cols="30" rows="5">{{recipe.procedure}}</textarea>
                            <label for="ingredients" class="form-label">Ingredients</label>
                            <textarea name="ingredients" class="form-control" id="" cols="30" rows="5">{{recipe.ingredients}}</textarea>
                            <button type="submit" class="btn btn-dark mt-2">Submit</button>
                        </form>
                    </div>
                </div>
{% endblock %}