{% extends 'base_rec.html' %}
{% block content %}
                <div class="container d-flex justify-content-around">
                    <div class="col-4 shadow-lg p-3 mb-5 bg-body rounded mt-4">
                        <p><h1>{{this_sugg.rec_name}}</h1><h3>(suggested edit)</h3></p>
                        <p>{{this_sugg.category}} {{this_sugg.prep_time}}</p>
                        <ul>
                            {% for i in ingz_list %}
                                <li>{{i}}</li>
                            {% endfor %}
                        </ul>
                        {{this_sugg.procedure}}
                        <br><br><br><br><br><br><br><br><br><br><br>
                        <div class="d-flex  justify-content-between mb-3">
                            <a href="/destroy_sugg/{{this_sugg.id}}" class="btn btn-dark">No Change</a>
                            <a href="#" class="btn btn-dark">Keep Changes</a>
                            <a href="#" class="btn btn-dark">Test Kitchen</a>
                        </div>
                    </div>
                    <div class="col-4 shadow-lg p-3 mb-5 bg-body rounded mt-4">
                        <form action="/save_edit/{{recipe.id}}" method="POST">
                            {% csrf_token %}
                            <label for="rec_name" class="form-label fw-bold">Recipe name</label>
                            <input type="text" name="rec_name" class="form-control" value="{{recipe.rec_name}}">
                            <label for="category" class="form-label fw-bold">Category</label>
                            <input type="text" name="category" class="form-control" value="{{recipe.category.name}}">
                            <label for="prep_time" class="form-label fw-bold">Prep Time</label>
                            <input type="text" name="prep_time" class="form-control" value="{{recipe.prep_time}}">
                            <label for="procedure" class="form-label fw-bold">Procedure</label>
                            <textarea name="procedure" id="" cols="30" class="form-control"rows="5">{{recipe.procedure}}</textarea>
                            <label for="ingredients" class="form-label fw-bold">Ingredients</label>
                            <textarea name="ingredients" id="" cols="30" class="form-control"rows="5">{{recipe.ingredients}}</textarea>
                            <button type="submit" class="btn btn-dark mt-2">Submit</button>
                        </form>
                    </div>
                </div>
{% endblock %}