{% extends 'base_rec.html' %}
{% block content %}
<div class="d-flex justify-content-around mb-4 mt-4">
    <div class="col-4 shadow-lg p-3 mb-5 bg-body rounded mt-2 p-2">
        <p><h1>{{recipe.rec_name}}</h1></p>
        <p>{{recipe.category.name}} {{recipe.prep_time}}</p> 
        <ul>
            {% for i in ing_list %}
                <li>{{i}}</li>
            {% endfor %}
        </ul>
        {{recipe.procedure}}
        <br>
        <br>
        <a href="/suggest/{{recipe.id}}" class="btn btn-dark">Collaborate</a>
        <a href="/make_fav/{{recipe.id}}" class="btn btn-dark">Favorite</a>
    </div>
    <div class="col-3 shadow-lg p-3 mb-5 bg-body rounded mt-2 p-2">
        {{recipe.notes}}
    </div>
    <div class="col-4 shadow-lg p-3 mb-5 bg-body rounded mt-2 p-2">
        {% if pic == None %}
            <img class="img-fluid" src="/media/images/default.jpg" alt="">
        {% else %}
            <img src="{{pic.image.url}}" class="d-block w-100" alt="...">
        {% endif %}
    </div>
</div>
{% endblock %}